@import "../Vars.scss";

.Footer {
  align-items: center;
  background-color: $main-color;
  display: flex;
  height: 100px;
  width:100%;
}
.Footer a {
  font-size: $font-size-14;
  padding-left: 30px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.Footer a:hover {
  text-decoration: underline;
}

