@media only screen and (max-width: 600px) {

  .main__description--title {
    font-size: 30px;
  }
  
  .Footer {
    align-items: flex-start;
    flex-direction: column;
  }
 .register {
        padding: 0 30px;
    }
    .register__container{
    background-color: transparent;
    box-shadow: initial;
    border: none;
    padding: 0;
    width: 100%;
  }
  }