@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
$theme-font-muli: "Muli", sans-serif; //correct
$main-color: #8186d5;

$secondary-color: #f0134d;
$white: #ffffff;
$size-h2: 25px;
$heigth-card: 250px;
$width-card: 200px;
$color-icopn-carousel-item-detail: #32bea6;
$white-transparent: rgba(255, 255, 255, 0.1);
$font-size-14: 14px;
$font-size-16: 16px;
$color-google: #de5246;
$color-twitter: #00acee;
$heigth-main: calc(100vh - 200px);
